#root {
  background-color: teal
}


.main_app {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 85vh; /* Full height of viewport */
}



.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  background-color:lightgray ;
  border: 5px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(122, 8, 8, 0.1);
}

.login-input {
  width: 95%;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}


.login-button {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
}


.register-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background: #f9f9f9;
  border: 5px solid #cccccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(122, 8, 8, 0.1);
}

.register-input {
  width: 95%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-submit-button {
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
}